<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данные студентов</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Данные студентов</h1>
    <input type="text" id="surname" placeholder="Введите фамилию">
    <button onclick="getStudents()">Найти студента</button>
    <button onclick="getAllStudents()">Показать всех студентов</button>
	<button onclick="getAllNames()">Показать список фамилий</button>
    <div id="result"></div>
    <script src="../static/js/script.js"></script>
</body>
</html>